.w-s1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: pxToVw(100px);
  margin-bottom: pxToVw(100px);
}

.w-s1__item {
  position: relative;
  height: pxToVw(390px);
  background-color: rgba(64, 64, 64, 0.5);
  cursor: pointer;

  &-id {
    font-weight: 700;
    width: pxToVw(120px);
    height: pxToVw(120px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: pxToVw(42px);
    line-height: 133.5%;
    letter-spacing: 0.02em;
    border-radius: 100%;
    border: 1px solid $white;
    position: absolute;
    right: pxToVw(-60px);
    top: pxToVw(-60px);
  }

  & h1 {
    position: absolute;
    top: 0;
    display: inline-block;
    margin-left: pxToVw(-80px);
    transform: rotateZ(-30deg);
  }

  &-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & img {
      width: 50%;
      height: 50%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    .w-s1__item-bg {
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
